html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

canvas#main-canvas, div#overlay {
  width: 100%;
  height: 100%; }

div#overlay {
  background-image: url('../images/landscape_bg.jpg');
  background-size: cover;
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0; }
